<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <!-- Add any necessary CSS or external libraries here -->

</head>
<body>

<div class="container">
  <h2>Login</h2>
  <form (ngSubmit)="onlogin()">
    <input type="text" name="username" [(ngModel)]="username" name="username" required>
    <input type="password" name="password" [(ngModel)]="password" name="password"  required>
    <button type="submit">Login</button>
  </form>
</div>

<div>
  <h3>DATA</h3>
    <p><strong>username</strong>{{username}} </p>
    <p><strong>Password</strong> {{password}}</p>
</div>


</body>
</html>

